* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #bf2e34 0%, #753682 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

/* landing page style */
.landing {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  line-height: 3rem;
}

.landing img {
  position: absolute;
  height: 30%;
  top: 80%;
  left: 85%;
}

.landing-wrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.player-names {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.player-names label {
  font-size: 2rem;
}

.name-input {
  width: 20rem;
  height: 3rem;
  border-radius: 50px;
  border: 0;
}
::placeholder,
input[type="text"] {
  text-align: center;
  font-size: 1.5rem;
}

.btn {
  padding: 0.4rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #444;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: 50ms ease-in;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: 50ms ease-out;
}

/* game page style */

.players-cards {
  position: absolute;
  display: flex;
  transform: translate(-50% -50%);
  top: 10%;
  left: 19%;
  height: 80%;
  width: 60%;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: rgba(255, 255, 255, 0.35);
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem;
}

.player1 {
  border-radius: 10px 0px 0px 10px;
}

.player2 {
  border-radius: 0px 10px 10px 0px;
}

.player-name {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3rem;
  color: #333333;
  font-weight: 400;
}

.score {
  margin-bottom: 15rem;
  text-transform: uppercase;
}
.btn2 {
  font-size: 1rem;
  position: absolute;
}

/* functionality CSS  */
.hide {
  display: none;
}

.active {
  background-color: rgba(255, 255, 255, 0.5);
}
